; These are custom settings that are ILS-specific, you can add and change
; any of these configuration names if you are developing a connector for your
; ILS.  Locum does not depend on any of these, only the connector specific to
; your environment needs them.

[connector_info]
description                 = "Locum connector for III's Millennium 2007"

; Locum uses this section to determine which server and which port to use
; server_select can either be "live" or "staging", depending on what set of
; screens and wwwoptions you're using with locum.
[ils_config]
ils_server                  = "pince.darienlibrary.org"
server_select               = "staging"
ils_live_port               = "80"
ils_live_port_ssl           = "443"
ils_staging_port            = "2082"
ils_staging_port_ssl        = "446"

; This is where developers define what is supported by their connector and what
; is not.  Locum will use this to determine which features to enable or disable.
[connector_support]


;; Everything blow this point is specific to the ILS connector and will never 
;; be specifically referenced by Locum.


; General configuration parameters used by the connector
[iii_custom_config]
iii_available_token         = "ON SHELF, Recent Return"
suppress_codes              = "d,n,v,w,x"
default_age                 = "all"
default_branch              = "dl"

; Manages config options to allow the connector to determine age for the
; record.  Age location definitions can either be comma-separated values, or
; a regex, encapsulated by slashes.  The regex or csv list refer to values in 
; iii_location_codes as generated by iii_loc_parse.php
; The variable names here must match the names in the [ages] group of your
; locum.ini file.
[iii_record_ages]
adult                       = "/^[afms]/"
teen                        = "/^[ty]/"
child                       = "/^[kjp]/"

; This is where you assign item location codes to branches.  You will pair the
; branch codes you designated in the [branches] section of locum.ini with item
; location code matches.
; Essentially, you are going to specify a branch code and provide either a regular
; expression match (enclosed in slashes - //) or a comma-separated list of all the
; ITEM LEVEL location codes associated with that branch.  A regex will be less
; tedious, but your location codes may not be consistent enough to do so.
; branchcode = "/[regex]/" or "code1,code2,code3,..."
[branch_assignments]
dl                          = "/^((?!\b(hs|nc)\b).)*$/"
hs                          = "hs"
nc                          = "nc"

; This needs to be the exact output from iii_loc_parse.php
[iii_location_codes]
a			  	 = "Adult Collection"
adabi			 = "Adult Playaway Biographies"
adadm			 = "Adult Playaway Detective Mysteries"
adaf			 = "Adult Playaway Fiction"
adamh			 = "Adult Holiday Music Display"
adanf			 = "Adult Playaway Nonfiction"
adb				 = "Adult Book Display"
adbgr			 = "Adult Book Group Corner"
adbh			 = "Adult Holiday Books Display"
adbpb			 = "Adult Paperback Display"
adbrb			 = "Rare Books - Joel Brooks Room"
adbsr			 = "DHS Summer Reading"
adr				 = "Adult CD-Roms"
advh			 = "Holiday Movies Display"
ar				 = "Adult Reference - Storage"
arb				 = "Adult Reference Books"
arp				 = "Adult Reference Periodicals"
asabi			 = "Adult Audio Books - Biographies"
asadm			 = "Adult Audio Books - Dectective Mysteries"
asaes			 = "English as a Second Language - Audio"
asaf			 = "Adult Audio Books - Fiction"
asam			 = "Adult Compact Discs"
asanf			 = "Adult Audio Books - Nonfiction"
asbbi			 = "Adult Biographies"
asbdm			 = "Adult Detective Mysteries"
asbes			 = "English as a Second Language - Books"
asbf			 = "Adult Fiction"
asblt			 = "Adult Large Type Books"
asbmg			 = "Middlesex Genealogical Society - Glanville Room (2nd floor)"
asbn1			 = "Adult Nonfiction - First Floor"
asbn2			 = "Adult Literature - Second Floor"
asbpb			 = "Adult Paperback Spinners - Second Floor"
asbss			 = "Adult Short Stories"
asbtx			 = "Tax Books"
asp				 = "Adult Magazine Room"
asv				 = "asv"
asvd			 = "DVD - Video Room"
asvff			 = "DVD Foreign Film - Video Room"
asvfn			 = "DVD Foreign Film Nonfiction - Video Room"
asvi			 = "VHS"
asvis			 = "VHS Series"
asvnf			 = "DVD Nonfiction - Video Room"
asvse			 = "DVD Series"
atb				 = "Tech Center - Book"
attdc			 = "Tech Center - Digital Camera"
attep			 = "Tech Center - Headphones"
attg			 = "Tech Center - GPS"
attk			 = "Tech Center - Kindle"
attkw			 = "Tech Center - Kill-a-Watt"
attlp			 = "Tech Center - LCD Projector"
attmp			 = "Tech Center - MP3 Players"
attnt			 = "Tech Center - Laptop"
attu			 = "Tech Center - USB Drive"
attvc			 = "Tech Center - Video Camera"
attw			 = "Tech Center - Wireless Card"
awbbi			 = "Adult New Biographies"
awbdm			 = "Adult New Detective Mysteries"
awbf			 = "Adult New Fiction"
awblt			 = "Adult New Large Type Books"
awbnf			 = "Adult New Nonfiction"
awbss			 = "Adult New Short Stories"
axbbi			 = "Adult Expres Biographies"
axbdm			 = "Adult Express Detective Mysteries"
axbf			 = "Adult Express Fiction"
axbnf			 = "Adult ExpressNonfiction"
axbss			 = "Adult Express Short Stories"
axv				 = "axv"
axvd			 = "Adult Express DVD"
azah			 = "azah"
azam			 = "Adult Compact Discs - Storage"
azamh			 = "Adult Holiday Music - Storage"
azb				 = "Adult Book Storage"
azbbg			 = "Books in a Bag - Storage"
azbfr			 = "Adult Foreign Language Books - Storage"
azbh			 = "Adult Holiday Books - Storage"
aztmp			 = "MP3 Players - Circulation Office"
azvh			 = "Adult Holiday Movies - Storage"
azvi			 = "Video Storage"
bagbk			 = "Book in a Bag"
bkcst			 = "bkcst"
bocd			 = "bocd"
bots			 = "bots"
cd				 = "cd"
cdr				 = "cdr"
cdsto			 = "cdsto"
child			 = "Children's Room"
chrcd			 = "Christmas CD rack"
chrst			 = "Christmas Display"
circo			 = "Circulation Office"
dd				 = "DELIVERED"
dhsmr			 = "dhsmr"
disp			 = "disp"
dvd				 = "dvd"
elxtr			 = "Tech circ"
exdvd			 = "exdvd"
exp				 = "exp"
f1dbr			 = "First Floor Audiobooks"
f1dmr			 = "First Floor Detective Mysteries"
f1fgr			 = "First Floor Fiction"
f1pbr			 = "First Floor Paperbacks"
glanr			 = "glanr"
hs				 = "Darien Historical Society"
j				   = "Children's Collection"
jsbpc			 = "Children's Picture Books"
jsr				 = "Children's CD-ROM"
jwbpc			 = "Children's New Picture Books"
jzbh			 = "Children's Storage Holiday"
jzvh			 = "Children's Storage Holiday Movies"
k1dar			 = "Kids - Music"
k1dbr			 = "Kids - Audio Books"
k1dgr			 = "Kids - Games"
k1dvr			 = "Kids - DVDs"
k1fbr			 = "Kids - Independent Readers"
k1fgr			 = "Kids - Fiction"
k1gnr			 = "Kids - Graphic Novels"
k1lbr			 = "Kids - Biographies"
k1ncn			 = "Kids - Reference"
k1ncr			 = "Kids - Non-Fiction"
k1vlr			 = "Kids - Languages"
k1zcr			 = "Kids - Magazines"
l2afr			 = "Classics"
ladc			 = "ladc"
lapci			 = "lapci"
lapex			 = "lapex"
lapre			 = "lapre"
lat				 = "lat"
libst			 = "Main Reading Room"
m1afr			 = "New Books- Art&Lit"
m1afx			 = "Express Art&Lit"
m1bsr			 = "New Books- Body&Soul"
m1bsx			 = "Express Body&Soul"
m1dar			 = "Main Street CDs"
m1dbr			 = "Main Street Audiobooks (Fic)"
m1dmr			 = "New Detective Mysteries"
m1dmx			 = "Detective Mysteries Express"
m1dvr			 = "Main Street DVD Circ"
m1dvx			 = "Main Street DVD Express"
m1fgr			 = "New Fiction"
m1fgx			 = "New Fiction Express"
m1hgr			 = "New Books- Home"
m1hgx			 = "Express Home"
m1ltr			 = "New Books- Life&Times"
m1ltx			 = "Express Life&Times"
m1osr			 = "New Books- Nature"
m1osx			 = "Express Nature"
m1qar			 = "New Books- Holiday"
m1qax			 = "Express Holiday"
m1srr			 = "New Books- Play"
m1srx			 = "Express Play"
m1ttr			 = "New Books- Places"
m1ttx			 = "Express Places"
m1wlr			 = "New Books- Work"
m1wlx			 = "Express Work"
magar			 = "magar"
mapca			 = "Map Case"
mezza			 = "mezza"
mp3				 = "mp3"
n				   = "New Books"
na				 = "Darien Nature Center"
order			 = "Library"
p1err			 = "First 5 Years - Learn to Read"
p1par			 = "First 5 Years - Parents"
p1pbr			 = "First 5 Years - Board Books"
p1pcr			 = "First 5 Years - Concepts"
p1pfr			 = "First 5 Years - Favorites"
p1pgr			 = "First 5 Years - Growing Up"
p1phr			 = "First 5 Years - Celebrations"
p1pkr			 = "First 5 Years - Folk/Fairy Tales"
p1pnr			 = "First 5 Years - Nature"
p1prr			 = "First 5 Years - Rhymes & Songs"
p1psr			 = "First 5 Years - Stories"
p1ptr			 = "First 5 Years - Transportation"
pam				 = "pam"
paper			 = "paper"
r				   = "Reference Collection"
rack			 = "rack"
refer			 = "refer"
refof			 = "refof"
refst			 = "Reference Storage"
s2afn			 = "2nd floor Art&Lit Reference"
s2afr			 = "2nd Floor Art&Lit"
s2bsn			 = "2nd Floor Body&Soul Reference"
s2bsr			 = "2nd Floor Body&Soul"
s2dbr			 = "2nd floor - Courses on CD"
s2dvr			 = "2nd Floor Nonfiction DVDs"
s2hgn			 = "2nd Floor Home Reference"
s2hgr			 = "2nd Floor Home"
s2llr			 = "Second Floor Large Print Books"
s2ltn			 = "2nd Floor Life&Times Reference"
s2ltr			 = "2nd Floor Life&Times"
s2man			 = "Magazines Reference"
s2mar			 = "Magazines"
s2osn			 = "2nd Floor Nature Reference"
s2osr			 = "2nd Floor Nature"
s2qar			 = "Holiday Books"
s2srn			 = "2nd Floor Play Reference"
s2srr			 = "2nd Floor Play"
s2ttn			 = "2nd Floor Places Reference"
s2ttr			 = "2nd Floor Places"
s2wln			 = "2nd Floor Work Reference"
s2wlr			 = "2nd Floor Work"
t				   = "Technology Center"
tax				 = "tax"
techs			 = "techs"
tlbtr			 = "Teen Body and Soul"
tlctr			 = "Teen Community"
tldar			 = "Teen Audio"
tldgr			 = "Teen Games"
tldvr			 = "Teen Video"
tlfar			 = "Teen Sports"
tlffr			 = "Teen Fantasy"
tlfgr			 = "Teen General Fiction"
tlfhr			 = "Teen History"
tlfir			 = "Teen Series"
tlfjr			 = "Teen Adventure"
tlflr			 = "Teen Humor"
tlfmr			 = "Teen Mystery"
tlfpr			 = "Teen Realistic Fiction"
tlfrr			 = "Teen Romance"
tlfsr			 = "Teen Science Fiction"
tlfvr			 = "Teen Horror"
tlgnr			 = "Teen Graphic Novels"
tlnxr			 = "Teen X Files"
tlnyr			 = "Teen Express Yourself"
tlotr			 = "Teen Our World"
tlrtr			 = "Teen Relationships"
tlstr			 = "Teen Book Storage"
tlztr			 = "Teen Magazines"
txcdr			 = "txcdr"
video			 = "video"
vstor			 = "vstor"
y				   = "Young Adult Collection"
ydbsr			 = "Teen Summer Reading"
ysamp			 = "Teen's Playaway"
ysas			 = "ysas"
ysbf			 = "Teen Fiction"
ysbgn			 = "Teen Graphic Novels"
ysp				 = "Teen Magazines"
ystt			 = "Teen's Transmitters"
zlqrr			 = "Children's Storage"