; This is the Locum configuration file

; Basic setup
[locum_config]
dsn_file				          = "/usr/local/etc/scas_dsn.php"
log_file		        	  	= "/usr/local/var/log/locum.log"
run_quiet		          		= FALSE

; Sphinx information
; bin_path is location of indexer binary
[sphinx_config]
bin_path                  = "/usr/local/sphinx/bin"
api_path			          	= "/usr/local/sphinx/lib"
server_addr		      	  	= "localhost"
server_port               = 3312
; Only if you need to ssh off to another server
pubkey_path               = "/usr/local/etc/sphinx_key.pub"
privkey_path              = "/usr/local/etc/sphinx_key"
key_pass                  = "yoursecret"
key_user                  = "username"

; Locum uses this section to decide how to behave while doing the
; initial harvest as well as when it runs the maintenance scripts.
; harvest_with_children takes advantage of PHP's pcntl library to
; spawn multiple harvest processes. HIGHLY RECOMMENDED.
; max_children tells Locum how many child processes to spawn.
; harvest_reach tells Locum how far beyond the last known bib to 
; scan for new records during the maintenance run.
[harvest_config]
harvest_with_children     = TRUE
max_children              = 10
harvest_reach             = 1000

; This is where you configure your external data sources.  The built-in
; cover image functionality is very basic, and it's recommended that you
; use the locum-covers plugin instead.  If you set skip_covers to TRUE,
; your harvest and maintenance runtimes will be much smaller.
[api_config]
skip_covers               = TRUE
use_amazon_images         = TRUE
amazon_access_key         = "11XTD5952SADG133T7G2"
amazon_img_prio           = 2
use_syndetic_images       = TRUE
syndetic_custid           = "darip"
syndetic_img_prio         = 1
use_yahoo_suggest         = TRUE
;yahoo_app_id             = "Your application id goes here - https://developer.apps.yahoo.com/wsregapp/"
suggestion_threshold      = 10

; Locum uses this section to determine which ILS connector to invoke
[ils_config]
ils                       = "iii";
ils_version               = "2007"

; Tells Locum whether or not you want to cache availability information,
; If so, then you can configure how long (in minutes) cached availability
; is kept.  Caching availability improves performance and lets you add
; availability facets, but availability will not be real-time.
[avail_cache]
cache                     = TRUE
cache_cutoff              = 60

; This is where you provide a list of key-to-value pairs for material codes so, 
; for insteance, if the material code for books is "a", you would do:
; a = "Books"
; Do one-per-line.  Codes ARE case sensitive.
[formats]
1                         = "Book"
2                         = "Reference"
3                         = "Magazine"
4                         = "VHS"
5                         = "Book on Tape"
6                         = "CD"
9                         = "CDROM"
a                         = "Express Book"
b                         = "Book on CD"
c                         = "Leappad Game"
d                         = "DVD"
g                         = "Book in a Bag"
h                         = "Computer Equipment"
k                         = "Read-along Tape"
m                         = "Playaway"
n                         = "Newspaper"
x                         = "Audio Download"

; This section is used when searching by material types.  Often there is more than
; one material code for the same type of material.  Locum uses these options to
; scope a search for, say "books" to material code a, b, and c if a, b, and c
; are print/books
; in that case, the option would be, books = "a, b, c"
; For an 'everything' group use ""
[format_groups]
everything                = ""
books                     = "1, 2, a, g"
movies                    = "4, d"
music                     = "6"
audiobooks                = "5, b, k, m"
periodicals               = "3, n"
software                  = "9, c"
electronics               = "e"

; This section is used to define special groups of material formats that can be used
; in programatic logic further up the chain.  For example, "download" denotes a group of
; material formats that are downloaded.  "skip_avail" tells applications to skip availability
; display for those items.  Custom entries can be added here as well if you need to 
; handle format groups in a certain way.
[format_special]
download                  = "x"
skip_avail                = "3, n, x"

; Age Groups
[ages]
adult                     = "Adult"
teen                      = "Teen"
child                     = "Children"

; These are pairings of branch codes with full branch names.  These settings will
; parsed if you enabled the "multi_branch" setting in locum.ini.
; Branch codes can are arbitrary and can be anything within the context of locum,
; but your library probably already has branch codes in use and it would make sense
; to use those codes here to avoid confusion.  Otherwise, you can just make them up.
[branches]
dl                      = "Darien Library"
hs                      = "Darien Historical Society"
nc                      = "Darien Nature Center"

; These are pairings of consortia member codes with their full names--usually a
; library or library system.  In other words, all members of a consortia.
; These settings will parsed if you enabled the "consortia" setting in locum.ini.
; Consortia member codes are arbitrary and can be anything within the context of
; locum, but it may be that your consortium already employs some kind of member
; code, in which case, it would make sense to use it here.  Otherwise, you can
; just make them up.
[consortia_members]
darpl                     = "Darien Library System"

; This is where you assign branches to consortia members.  You will pair the
; consortia_member codes from [consortia_members] with branch code values
; from the [branches] section.
; Essentially, you are going to specify a consortia_member code and provide
; either a regular expression match (enclosed in slashes - //) or a comma-
; separated list of all the branches belonging to a consortia member.
; member_code             = "/[regex]/" or "branch1,branch2,branch3,..."
[consortia_member_assignments]
darpl                     = "dl,hs,nc"

; These let you define "collections" within the catalog.  Useful for narrowing
; searches to, say, a named gift collection,  These are sometimes called "scopes"
; These are special "views" of the collection that reside outside the
; Library > Branch > Consortia hierarchy.
; The values for these parameters will be the item-level location codes provided
; up from the connector.  You may need to check with your cataloging staff
; to find out what these are.
; this is a name-to-values format.  See Examples.
; ****** Currently unimplemented ******
[collections]
Adult					            = "a, adabi, adadm, adaf, adanf, asvff, asvfn, attg, attlp, azamh, bagbk, bocd, cd, dvd, libst, magar, r"
Children				          = "j, jsamp, jsbjp, jstt"
Historical Society	    	= "hs"

; These settings allow you to limit and determine how records behave within your
; applications.  These settings change how locum behaves during searches and transactions
[location_limits]
no_request				        = "libst, magar, r, t, techs"
no_search			          	= "t, techs"

; These will probably need to come from your ILS.  The III connector supplies you with a script
; to help you parse and format this information, others may as well.
[languages]
ace				 = "Achinese"
ach				 = "Acholi"
ada				 = "Adangme"
afa				 = "Afro-Asiatic"
afh				 = "Afrihili"
afr				 = "Afrikaans"
ajm				 = "Aljamia"
aka				 = "Akan"
akk				 = "Akkadian"
alb				 = "Albanian"
ale				 = "Aleut"
alg				 = "Algonquian languages"
amh				 = "Amharic"
ang				 = "Anglo-Saxon"
apa				 = "Apache"
ara				 = "Arabic"
arc				 = "Aramaic"
arm				 = "Armenian"
arn				 = "Araucanian"
arp				 = "Arapaho"
art				 = "Artificial"
arw				 = "Arawak"
asm				 = "Assamese"
ath				 = "Athapascan"
ava				 = "Avaric"
ave				 = "Avesta"
awa				 = "Awadhi"
aym				 = "Aymara"
aze				 = "Azerbaijani"
bad				 = "Banda"
bai				 = "Bamileke languages"
bak				 = "Bashkir"
bam				 = "Bambara"
ban				 = "Balinese"
baq				 = "Basque"
bas				 = "Basa"
bat				 = "Baltic"
bej				 = "Beja"
bel				 = "Belorussian"
bem				 = "Bemba"
ben				 = "Bengali"
ber				 = "Berber languages"
bho				 = "Bhojpuri"
bik				 = "Bikol"
bin				 = "Bini"
bla				 = "Blackfoot"
bra				 = "Braj"
bre				 = "Breton"
bug				 = "Buginese"
bul				 = "Bulgarian"
bur				 = "Burmese"
cad				 = "Caddo"
cai				 = "Central American Indian"
cam				 = "Cambodian"
car				 = "Carib"
cat				 = "Catalan"
cau				 = "Caucasian"
ceb				 = "Cebuano"
cel				 = "Celtic Group"
cha				 = "Chamorro"
chb				 = "Chibcha"
che				 = "Chechen"
chg				 = "Chagatai"
chi				 = "Chinese"
chn				 = "Chinook Jargon"
cho				 = "Choctaw"
chr				 = "Cherokee"
chu				 = "Church Slavic"
chv				 = "Chuvash"
chy				 = "Cheyenne"
cop				 = "Coptic"
cor				 = "Cornish"
cpe				 = "Creoles & Pidgins, English"
cpf				 = "Creoles & Pidgins, French"
cpp				 = "Creoles & Pidgins, Port."
cre				 = "Cree"
crp				 = "Creoles & Pidgins, Other"
cus				 = "Cushitic"
cze				 = "Czech"
dak				 = "Dakota"
dan				 = "Danish"
del				 = "Delaware"
din				 = "Dinka"
doi				 = "Dogri"
dra				 = "Dravidian"
dua				 = "Duala"
dum				 = "Dutch, Middle"
dut				 = "Dutch"
dyu				 = "Dyula"
efi				 = "Efik"
egy				 = "Egyptian"
eka				 = "Ekajuk"
elx				 = "Elamite"
eng				 = "English"
enm				 = "English, Middle"
esk				 = "Eskimo"
esp				 = "Esperanto"
est				 = "Estonian"
eth				 = "Ethiopic"
ewe				 = "Ewe"
ewo				 = "Ewondo"
fan				 = "Fang"
far				 = "Faroese"
fat				 = "Fanti"
fij				 = "Fijian"
fin				 = "Finnish"
fiu				 = "Finno-Ugrian"
fon				 = "Fon"
fre				 = "French"
fri				 = "Frisian"
frm				 = "French, Middle"
fro				 = "French, Old"
ful				 = "Fulah"
gaa				 = "Ga"
gae				 = "Gaelic (Scots)"
gag				 = "Gallegan"
gal				 = "Galla"
gay				 = "Gayo"
gem				 = "Germanic (Other)"
geo				 = "Georgian"
ger				 = "German"
gil				 = "Gilbertese"
gmh				 = "German, Mid. High"
goh				 = "German, Old High"
gon				 = "Gondi"
got				 = "Gothic"
grb				 = "Grebo"
grc				 = "Greek, Ancient (to 1453)"
gre				 = "Greek, Modern (1453-)"
gua				 = "Guarani"
guj				 = "Gujarati"
hai				 = "Haida"
hau				 = "Hausa"
haw				 = "Hawaiin"
heb				 = "Hebrew"
her				 = "Herero"
hil				 = "Hiligaynon"
him				 = "Himachali"
hin				 = "Hindi"
hmo				 = "Hiri Motu"
hun				 = "Hungarian"
hup				 = "Hupa"
iba				 = "Iban"
ibo				 = "Igbo"
ice				 = "Icelandic"
ijo				 = "Ijo"
ilo				 = "Ilocano"
inc				 = "Indic"
ine				 = "Indo-European"
int				 = "Interlingua"
ira				 = "Iranian"
iri				 = "Irish"
iro				 = "Iroquoian languages"
ita				 = "Italian"
jav				 = "Javanese"
jpn				 = "Japanese"
jpr				 = "Judaeo-Persian"
jrb				 = "Judaeo-Arabic"
kaa				 = "Karakalpak"
kab				 = "Kabyle"
kac				 = "kachin"
kam				 = "Kamba"
kan				 = "Kannada"
kar				 = "Karen"
kas				 = "Kashmiri"
kau				 = "Kanuri"
kaw				 = "Kawi"
kaz				 = "Kazakh"
kha				 = "Khasi"
khi				 = "Khoisan (Other)"
kho				 = "Khotanese"
kik				 = "Kikuyu"
kin				 = "Kinyarwanda"
kir				 = "Kirghiz"
kok				 = "Konkani"
kon				 = "Kongo"
kor				 = "Korean"
kpe				 = "Kpelle"
kro				 = "Kru"
kru				 = "Kurukh"
kua				 = "Kuanyama"
kur				 = "Kurdish"
kus				 = "Kusaie"
kut				 = "Kutenai"
lad				 = "Ladino"
lah				 = "Lahnda"
lam				 = "Lamba"
lan				 = "Langue d'oc"
lao				 = "Lao"
lap				 = "Lapp"
lat				 = "Latin"
lav				 = "Latvian"
lin				 = "Lingala"
lit				 = "Lithuanian"
lol				 = "Mongo"
loz				 = "Lozi"
lub				 = "Luba"
lug				 = "Luganda"
lui				 = "Luiseno"
lun				 = "Lunda"
luo				 = "Luo"
mac				 = "Macedonian"
mad				 = "Madurese"
mag				 = "Magahi"
mah				 = "Marshall"
mai				 = "Maithili"
mak				 = "Makasar"
mal				 = "Malayalam"
man				 = "Mandingo"
mao				 = "Maori"
map				 = "Austronesian (Other)"
mar				 = "Marathi"
mas				 = "Masai"
max				 = "Manx"
may				 = "Malay"
men				 = "Mende"
mic				 = "Micmac"
min				 = "Minangkabau"
mis				 = "Miscellaneous"
mkh				 = "Mon Khmer"
mla				 = "Malagasy"
mlt				 = "Maltese"
mni				 = "Manipuri"
mno				 = "Manobo"
moh				 = "Mohawk"
mol				 = "Moldavian"
mon				 = "Mongol"
mos				 = "Mossi"
mul				 = "Multilingual"
mun				 = "Munda (Other)"
mus				 = "Muskogee"
mwr				 = "Marwari"
myn				 = "Mayan languages"
nah				 = "Nahuatlan"
nai				 = "North Amer. Indian (Other)"
nav				 = "Navajo"
nde				 = "Ndebele (Zimbabwe)"
ndo				 = "Ndonga"
nep				 = "Nepali"
new				 = "Newari"
nic				 = "Niger-Kordofanian (Other)"
niu				 = "Niuean"
nor				 = "Norwegian"
nso				 = "Northern Sotho"
nub				 = "Nubian"
nya				 = "Nyanja"
nym				 = "Nyamwezi"
nyn				 = "Nyankole"
nyo				 = "Nyoro"
nzi				 = "Nzima"
oji				 = "Ojibwa"
ori				 = "Oriya"
osa				 = "Osage"
oss				 = "Ossetic"
ota				 = "Ottoman Turkish"
oto				 = "Otomian languages"
paa				 = "Papuan-Australian (Other)"
pag				 = "Pangasinan"
pal				 = "Pahlavi"
pam				 = "Pampanga"
pan				 = "Panjabi"
pap				 = "Papiamento"
pau				 = "Palauan"
peo				 = "Persian, Old"
per				 = "Persian, Modern"
pli				 = "Pali"
pol				 = "Polish"
pon				 = "Ponape"
por				 = "Portuguese"
pra				 = "Prakrit"
pro				 = "Provencal"
pus				 = "Pushto"
que				 = "Quechua"
raj				 = "Rajasthani"
rar				 = "Rarotongan"
roa				 = "Romance (Other)"
roh				 = "Rhaeto-Romance"
rom				 = "Romany"
rum				 = "Romanian"
run				 = "Rundi"
rus				 = "Russian"
sad				 = "Sandawe"
sag				 = "Sango"
sai				 = "South Amer. Indian (Other)"
sal				 = "Salishan languages"
sam				 = "Samaritan Aramaic"
san				 = "Sanskrit"
sao				 = "Samoan"
scc				 = "Serbo-Croatian (Cyrillic)"
sco				 = "Scots"
scr				 = "Serbo-Croatian (Roman)"
sel				 = "Selkup"
sem				 = "Semitic (Other)"
shn				 = "Shan"
sho				 = "Shona"
sid				 = "Sidamo"
sio				 = "Siouan languages"
sit				 = "Sino-Tibetan (Other)"
sla				 = "Slavic (Other)"
slo				 = "Slovak"
slv				 = "Slovenian"
snd				 = "Sindhi"
snh				 = "Sinhalese"
sog				 = "Sogdian"
som				 = "Somali"
son				 = "Songhai"
spa				 = "Spanish"
srr				 = "Serer"
ssa				 = "Nilo-Saharan"
sso				 = "Southern Sotho"
suk				 = "Sukuma"
sun				 = "Sundanese"
sus				 = "Susu"
sux				 = "Sumerian"
swa				 = "Swahili"
swe				 = "Swedish"
swz				 = "Swazi"
syr				 = "Syriac"
tag				 = "Tagalog"
tah				 = "Tahitian"
taj				 = "Tajik"
tam				 = "Tamil"
tar				 = "Tatar"
tel				 = "Telugu"
tem				 = "Temne"
ter				 = "Tereno"
tha				 = "Thai"
tib				 = "Tibetan"
tig				 = "Tigre"
tir				 = "Tigrina"
tiv				 = "Tivi"
tli				 = "Tlingit"
tog				 = "Tonga"
ton				 = "Tonga (Tonga Islands)"
tru				 = "Truk"
tsi				 = "Tsimshian"
tso				 = "Tsonga"
tsw				 = "Tswana"
tuk				 = "Turkmen"
tum				 = "Tumbuka"
tur				 = "Turkish"
tut				 = "Turko-Tataric (Other)"
twi				 = "Twi"
uga				 = "Ugaritic"
uig				 = "Uigar"
ukr				 = "Ukrainian"
umb				 = "Umbundu"
und				 = "Undetermined"
urd				 = "Urdu"
uzb				 = "Uzbek"
vai				 = "Vai"
ven				 = "Venda"
vie				 = "Vietnamese"
vot				 = "Votic"
wak				 = "Wakashan languages"
wal				 = "Walamo"
war				 = "Waray"
was				 = "Washo"
wel				 = "Welsh"
wen				 = "Wendic"
wol				 = "Wolof"
xho				 = "Xhosa"
yao				 = "Yao (Bantu)"
yap				 = "Yap"
yid				 = "Yiddish"
yor				 = "Yoruba"
zap				 = "Zapotec"
zen				 = "Zenaga"
zul				 = "Zulu"
zun				 = "Zuni"
